h1 {
  margin-bottom: 30px;
}
.container {
  max-width: 900px;
  margin: auto;
  padding: 20px 15px;
}

.user-details h2 {
  margin-bottom: 20px;
}

.user-details p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 30px;
}

.posts-list {
  display: flex;
  flex-wrap: wrap;
}

.posts-list .item {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 20px 15px;
  border: 1px solid;
}

.item h3 {
  margin-bottom: 30px;
}

.item .learn-more {
  color: aqua;
  text-decoration: underline;
}
